{% extends "network/layout.html" %} {% load static %} {% block body %}
<div className="all-posts mx-auto" id="homePage"></div>

<script type="text/babel">
  const { useState } = React;
  const { useEffect } = React;

  const Home = () => {
    const [isAll, setIsAll] = useState(true);

    let isLoggedIn = "{{loggedIn}}";
    if(isLoggedIn === "False"){
      isLoggedIn = false;
    }else{
      isLoggedIn = true;
    }
    // console.log("fdsf", isLoggedIn);
    
    const onAllPostsSelected = () => {
      if(isAll){
        window.scrollTo({
          top: 0,
          behavior: "smooth"
        });
      }else{
        setIsAll(true);
      }
    };

    const onFollowingPostsSelected = () => {
      if(!isAll){
        window.scrollTo({
          top: 0,
          behavior: "smooth"
        });
      }else{
        setIsAll(false);
      }
    }
    return (
      <>
        <div className="container px-xxl-5 main-block row mx-auto">
          <div className="col-8 left-side p-0">
            <div
              className="d-flex align-items-center py-3 px-3 posttype-div sticky-top"
              id="heading-title"
            >
              <h5
                className={`m-0 px-3 p-2 ${isAll && "selected-postType"}`}
                onClick={onAllPostsSelected}
              >
                All posts
              </h5>
              {isLoggedIn && 
              <h5
                className={`m-0 px-3 p-2 ms-2 ${!isAll && "selected-postType"}`}
                onClick={onFollowingPostsSelected}
              >
                Following
              </h5>
              }
            </div>

            <div className="px-3 pt-3">
              <PostsBody postType={isAll ? "all" : "following"} page_no={0} />
            </div>
          </div>

          
          <div className="col-4 px-3 right-side profile-end-block">
            <div className="position-sticky top-0">
              {isLoggedIn ? <ProfileBlock post_id={null}/>
              :
              <div className="pt-4">
                <h5>You're missing out!</h5>
                <p>Signup or login to follow the people you like.</p>  

                <a className="auth-btn d-block" href="/signup">Signup</a>
                <a className="auth-btn d-block mt-2" href="/login">Login</a>
                <p className="text-center m-0">or</p>
                <a className="auth-btn d-block mt-2" href="{% url 'guestLogin' %}">Continue as Guest</a>
              </div>
            }
            </div>
          </div>
        </div>
      </>
    );
  };
  
  const root = ReactDOM.createRoot(document.getElementById("homePage"));
  root.render(<Home />);
</script>
{% endblock %}
