{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>{% block title %}PostClub{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'network/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'network/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="/site.webmanifest">




    <!-- fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">


    <link href="{% static 'network/styles.css' %}" rel="stylesheet" />

    <script
      crossorigin
      src="https://unpkg.com/react@18/umd/react.development.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"
    ></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <script
      crossorigin
      src="{% static 'network/PostsBody.js' %}"
      type="text/babel"
    ></script>
    <script
      crossorigin
      src="{% static 'network/ProfileBlock.js' %}"
      type="text/babel"
    ></script>
    <script
      crossorigin
      src="{% static 'network/FollowBtn.js' %}"
      type="text/babel"
    ></script>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary the-navbar" id="main-navbar"
    >
      <div class="container">
        <div class="d-flex w-100 justify-content-between align-items-center">
        <a class="navbar-brand fw-medium text-white" href="{% url 'index' %}">PostClub</a>
      
        {% if user.is_authenticated %}
          <div>
            <div class="rounded-pill p-2 navbar-avatar" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person p-0" viewBox="0 0 16 16">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
              </svg>
            </div>

            <div class="modal fade" id="exampleModal" style="backdrop-filter: blur(12px);" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-sm modal-dialog-centered profile-modal the-modal">
                <div class="modal-content">
                  <div class="modal-header border-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body pt-0 text-white">
                    <p class="fw-light text-center m-0">Logged in as</p>
                    <p class="text-center fs-5 p-2 pt-0 m-0 border-bottom">{{userdata.username}}</p>
                    <a href="{% url 'profile' username=userdata.username %}" class="text-center d-block p-2 w-100 border-bottom">Profile</a>
                    <a href="{% url 'logout' %}" class="text-center d-block p-2 mb-3 w-100">Logout</a>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>

          </div>
        {% else %}
          <div class="d-flex">
            <a href="{% url 'login' %}" class="navbar-login-btn">Login</a>
          </div>
        {% endif %}
      </div>
      </div>
    </nav>

    <div class="">
      <div class="body-div">{% block body %} {% endblock %}</div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/react-router/6.10.0/react-router.production.min.js"
      integrity="sha512-SDCLfzy/l9gtT7Ubz0C7uz2qeh33PwHVsjn2ijATWVExwzPshL0kV4urhfx5bmeomYtujU5UMseX9uN6vw4fHA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script> -->
  </body>
</html>
