{% extends "network/layout.html" %} {% block body %}
<div className="pb-4 border-b" id="userPostsDiv">
</div>

<script type="text/babel">
  const { useState } = React;
  const { useEffect } = React;

  const UserStats = (isLoggedIn) => {
    const [userdata, setuserdata] = useState({});
    const [profileOwner, setProfileOwner] = useState(false);

    const [url, setUrl] = useState("");
    const [bio, setBio] = useState("");

    // console.log("profff" ,profileOwner)

    const getUserStats = async () => {
      try {
        const response = await fetch("/getuserstats/{{username}}");
        const data = await response.json();

        setuserdata(data.userStats);
        setProfileOwner(data.profileOwner);
      } catch (error) {
        console.error("Error(getuserstats):", error);
      }
    };

    useEffect(() => {
      getUserStats();
      // console.log(userdata);
    }, []);

    useEffect(() => {
      setBio(userdata.bio);
      setUrl(userdata.image_url);
    }, [userdata]);

    const addUserDetails = async () => {
      const response = await fetch(`/adduserstat`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ image_url: url, bio: bio }),
      });
      const data = await response.json();
      setuserdata(data.body);

      document.location.reload();
    };

    const onUrlChange = (e) => {
      setUrl(e.target.value);
    };

    const onBioChange = (e) => {
      setBio(e.target.value);
    };

    // console.log("userdata", userdata);
    // console.log("isLooge", isLoggedIn.isLoggedIn);

    return (
      <>
        <div className="d-flex align-items-center mt-3">
          <img
            className="profile-thumbnail bg-white rounded-circle"
            src={
              userdata.image_url != ""
                ? userdata.image_url
                : "/static/network/img/profile_image.png"
            }
            alt={userdata.username}
          />
          {isLoggedIn.isLoggedIn && (
            <div className="d-flex ms-3 justify-content-center">
              {profileOwner ? (
                <button
                  className="btn follow-btn w-auto rounded-pill px-4 mx-auto"
                  data-bs-toggle="modal"
                  data-bs-target="#userStatModal"
                >
                  Edit Profile
                </button>
              ) : (
                <FollowBtn userdata={userdata} setuserdata={setuserdata} />
              )}
            </div>
          )}
        </div>

        <div className="d-flex align-items-center">
          <h4 className="my-3">{userdata.username}</h4>
          {userdata.follows_you && <p className="ms-2 m-0 followsback-div">Follows you</p>}
        </div> 
        <p className="">{userdata.bio}</p>
        <div className="d-flex">
          <p className="pe-3 border-e">{userdata.followers} Followers</p>
          <p className="px-3 border-e">{userdata.followings} Followings</p>
          <p className="px-3">{userdata.post_count} {userdata.post_count === 1 ? "post" : "posts"}</p>
        </div>

        {profileOwner && (
          <div
            className="modal fade"
            id="userStatModal"
            tabIndex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div className="modal-dialog modal-dialog-centered">
              <div className="modal-content">
                <div className="modal-header border-0">
                  <h5 className="modal-title">Edit Profile</h5>
                  <button
                    type="button"
                    className="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div className="modal-body border-0">
                  <div className="mb-3">
                    <label htmlFor="profileImage" className="form-label">
                      Profile Image URL
                    </label>
                    <input
                      type="text"
                      className="form-control"
                      id="profileImage"
                      value={url ? url : ""}
                      onChange={onUrlChange}
                      required
                    />
                  </div>
                  <div className="mb-3">
                    <label htmlFor="bio" className="form-label">
                      Bio
                    </label>
                    <textarea
                      className="form-control"
                      id="bio"
                      value={bio ? bio : ""}
                      onChange={onBioChange}
                      required
                    />
                  </div>
                </div>
                <div className="modal-footer border-0">
                  <button
                    type="button"
                    className="rounded-pill btn btn-light px-3 m-0"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="button"
                    className="the-btn prim-btn px-3 m-0 ms-2"
                    onClick={addUserDetails}
                    data-bs-dismiss="modal"
                  >
                    Save changes
                  </button>
                </div>
              </div>
            </div>
          </div>
        )}
      </>
    );
  };

  const UserProfile = () => {
    const [isLoggedIn, setIsLoggedIn] = useState(false);
    const [user, setUser] = useState("");


    let userExists = "{{userExists}}";
    if (userExists === "True") {
      userExists = true;
    } else {
      userExists = false;
    }

    let usernameObj = "{{username}}";
    // console.log("uuuser", typeof usernameObj);

    const getUser = async () => {
      try {
        const response = await fetch("/getuser");
        const data = await response.json();

        setIsLoggedIn(data.isLoggedIn);
        setUser(data.user);

      } catch (error) {
        console.error("Error:", error);
      }
    };

    useEffect(() => {
      getUser();
    }, []);


    const onBackClick = () => {
      if (window.history.length > 1) {
        window.history.back();
      } else {
        const { protocol, host } = window.location;
        window.location.href = `${protocol}//${host}`;
      }
    };

    return (
      <>
        <div className="container main-block px-xxl-5 row mx-auto justify-content-center">
          <div className="col-lg-6 col-8 left-side p-0">
            <div
              className="d-flex align-items-center py-3 px-3 mb-3 posttype-div sticky-top"
              id="heading-title"
            >
              <div
                className="d-flex p-1 back-btn px-2 align-items-center"
                onClick={onBackClick}
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  className="bi bi-chevron-left"
                  viewBox="0 0 16 16"
                >
                  <path
                    fillRule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                  />
                </svg>
                <p className="ms-2 m-0">back</p>
              </div>
            </div>

            <div className="">
              {userExists ? (
                <>
                  <div className="px-3 pb-2 border-b">
                    <UserStats isLoggedIn={isLoggedIn} />
                  </div>
                  <div className="">
                    <p className="p-3 m-0 border-b fw-medium text-secondary">Posts from {usernameObj}</p>
                    <PostsBody postType={usernameObj} page_no={1} />
                  </div>
                </>
              ) : (
                <div className="p-3">
                  <img
                    className="profile-thumbnail bg-white rounded-circle"
                    src="/static/network/img/profile_image.png"
                  ></img>
                  <h4 className="mt-2">The user does not exist.</h4>
                </div>
              )}
            </div>
          </div>
          <div className="col-lg-3 col-4 right-side">
            <div className="sticky-top right-side-div mt-2">
              {isLoggedIn ? (
                <ProfileBlock post_id={null} />
              ) : isLoggedIn === false ? (
                <div className="pt-4">
                  <h5>You're missing out!</h5>
                  <p>Signup or login to follow the people you like.</p>

                  <a className="auth-btn d-block" href="/signup">
                    Signup
                  </a>
                  <a className="auth-btn d-block mt-2" href="/login">
                    Login
                  </a>
                  <p className="text-center m-0">or</p>
                  <a className="auth-btn d-block mt-2" href="{% url 'guestLogin' %}">Continue as Guest</a>
                </div>
                
              ) : (
                <div className="d-flex my-3 justify-content-center">
                  <div
                    className="spinner-border loading-spinner text-primary"
                    role="status"
                  >
                    <span className="visually-hidden">Loading...</span>
                  </div>
                </div>
              )}
            </div>
          </div>
        </div>
      </>
    );
  };

  const root = ReactDOM.createRoot(document.getElementById("userPostsDiv"));
  root.render(<UserProfile />);
</script>

{% endblock %}
