{% extends "network/layout.html" %} {% block body %}
<div className="" id="user-post-div"></div>

<script type="text/babel">
  const { useState } = React;
  const { useEffect } = React;

  const AddReply = ({ replies, setReplies, parent }) => {
    const [value, setValue] = useState("");

    const handleSubmit = async (event) => {
      event.preventDefault();
      const response = await fetch(`/addpost`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ value: value, parent: parent }),
      });
      const json = await response.json();
      let r = json.body;
      setReplies((replies) => [r, ...replies]);
      setValue("");
    };

    // console.log("replies", replies);

    const handleChange = (event) => {
      setValue(event.target.value);
    };

    return (
      <form
        action="post"
        className="p-3 py-4 addPostDiv"
        onSubmit={handleSubmit}
      >
        <div className="d-flex container">
          <input
            type="text"
            className="p-2 ps-3 flex-grow-1 me-2"
            name="postbody"
            value={value}
            onChange={handleChange}
            placeholder="Add a reply"
            id="post-body"
          />
          <input
            type="submit"
            className="p-2 px-4"
            value="Post"
            id="newpost-btn"
            disabled={value === ""}
          />
        </div>
      </form>
    );
  };

  const ReplyBody = ({
    isLoggedIn,
    repliesObj,
    parent,
    post,
    setPost,
    currentUser,
  }) => {
    const [replies, setReplies] = useState();

    useEffect(() => {
      if (repliesObj) {
        setReplies(repliesObj.reverse());
      }
    }, [repliesObj]);

    useEffect(() => {
      if (replies) {
        setPost((prevstate) => ({ ...post, replyCount: replies.length }));
      }
      // console.log("replies changed");
    }, [replies]);

    // console.log("resfds", replies);
    // console.log("parent post mfosjd", post);
    return (
      <>
        {isLoggedIn && (
          <AddPost posts={replies} setPosts={setReplies} parent={parent} />
          // <AddReply replies={replies} setReplies={setReplies} parent={parent}/>
        )}
        {replies && replies.length > 0 && (
          <h5 className="fs-6 p-3 border-b m-0 text-secondary">Post replies</h5>
        )}

        <div className="">
          {replies && replies.length > 0 ? (
            replies.map((reply) => {
              return (
                <div key={reply.id}>
                  <PostItem
                    post={reply}
                    isLoggedIn={isLoggedIn}
                    isOpened={false}
                    currentUser={currentUser}
                    posts={replies}
                    setPosts={setReplies}
                  />
                </div>
              );
            })
          ) : (
            <p className="p-3">No replies on this post yet.</p>
          )}
        </div>
      </>
    );
  };

  const UserPostBody = () => {
    const username = "{{ username }}";
    const post_id = "{{ post_id }}";

    const [isLoggedIn, setIsLoggedIn] = useState();
    const [postObj, setPostObj] = useState();
    const [postExists, setPostExists] = useState();
    const [repliesObj, setRepliesObj] = useState();
    const [currentuser, setcurrentuser] = useState();

    const getPost = async () => {
      try {
        const response = await fetch(`/getuserpost/${username}/${post_id}`);
        const data = await response.json();

        const { post, isLoggedIn, currentUser } = data;
        setIsLoggedIn(isLoggedIn);
        if (Object.keys(post).length > 0) {
          setPostExists(true);
        }
        setPostObj(post);
        setRepliesObj(post.replies);
        setcurrentuser(currentUser);
        // console.log({ post, isLoggedIn });
        // console.log("PPOST MF", post.id);

        // setPageData({ currentPage, hasNext, hasPrevious, totalPageCount });
      } catch (error) {
        console.error("Error:", error);
      }
    };

    useEffect(() => {
      getPost();
    }, []);

    const onBackClick = () => {
      if (window.history.length > 1) {
        window.history.back();
      } else {
        const { protocol, host } = window.location;
        window.location.href = `${protocol}//${host}`;
      }
    };

    // console.log("the reply wtfii", repliesObj);

    return (
      <>
        <div className="container px-xxl-5 main-block row mx-auto justify-content-center">
          <div className="col-8 col-lg-6 left-side  p-0">
            <div
              className="d-flex align-items-center py-3 px-3 posttype-div sticky-top"
              id="heading-title"
            >
              <div
                className="d-flex p-1 back-btn px-2 align-items-center"
                onClick={onBackClick}
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  className="bi bi-chevron-left"
                  viewBox="0 0 16 16"
                >
                  <path
                    fillRule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                  />
                </svg>
                <p className="ms-2 m-0">back</p>
              </div>
            </div>

            <div className="">
              {postObj && postExists && (
                <PostItem
                  post={postObj}
                  isLoggedIn={isLoggedIn}
                  isOpened={true}
                  currentUser={currentuser}
                />
              )}
              {postExists === false && (
                <h4 className="fs-6 my-4 p-3">The post does not exist.</h4>
              )}

              {postExists && (
                <ReplyBody
                  isLoggedIn={isLoggedIn}
                  repliesObj={repliesObj}
                  parent={postObj && postObj.id}
                  currentUser={currentuser}
                  post={postObj}
                  setPost={setPostObj}
                />
              )}
            </div>
          </div>

          <div className="px-3 col-lg-3 col-4 right-side">
            <div className="sticky-top right-side-div mt-2">
              {isLoggedIn &&
                (postExists ? (
                  postObj.postOwner === currentuser ? (
                    <ProfileBlock post_id={null} />
                  ) : (
                    <ProfileBlock post_id={post_id} />
                  )
                ) : (
                  <ProfileBlock post_id={null} />
                ))}
              {isLoggedIn === false && (
                <div className="pt-4">
                  <h5>You're missing out!</h5>
                  <p>Signup or login to follow the people you like.</p>

                  <a className="auth-btn d-block" href="/signup">
                    Signup
                  </a>
                  <a className="auth-btn d-block mt-2" href="/login">
                    Login
                  </a>
                  <p className="text-center m-0">or</p>
                  <a
                    className="auth-btn d-block mt-2"
                    href="{% url 'guestLogin' %}"
                  >
                    Continue as Guest
                  </a>
                </div>
              )}
            </div>
            <a href="https://kunal-dhongadi.vercel.app/" className="position-fixed bottom-0 py-2 text-secondary opacity-25">by @Kunal</a>

          </div>
        </div>
      </>
    );
  };

  const root = ReactDOM.createRoot(document.getElementById("user-post-div"));
  root.render(<UserPostBody />);
</script>

{% endblock %}
