:root {
    --primary: #5095db;
    --primary-active : #3472af;
    --postHover: #f7f7f8;
    --border:#a5a6a5;
    --white: #ffffff;
    --bgColor: #f7f7f7;
    --bgHoverColor : #f1f1f1;
    --grayColor: #e4e4e4;
    --darkPrimary : #2c2c2c;

  }

body{
    font-family: 'Prompt', sans-serif;
    background-image: linear-gradient(#dbffa9, #8ed9ff);
}

.border-e{
    border-right: 1px solid var(--border) !important;
}

.border-b{
    border-bottom: 1px solid var(--border) !important;
}


#userStatModal{
    backdrop-filter: blur(12px);
}

.navbar-brand:hover{
    color: var(--primary) !important;
    transition: 0.4s;
}

.the-navbar{
    background-color: var(--darkPrimary) !important;
    color: white !important;
}

.navbar-avatar{
    background-color: var(--darkPrimary);
}

.navbar-avatar:hover{
    color: var(--primary);
}

.the-modal p{
    color: black;
}

.the-modal p:first-child{
    color: #9f9f9f;
    font-size: 14px;
}

.the-modal a{
    text-decoration: none;
    color: var(--border);
}

.the-modal a:hover{
    color: black;
}

.main-block{
    min-height: 100vh;
    z-index: 2000;
}

/* left/right div */

.left-side{
    position: relative;
    border-left: 1.5px solid var(--border);
    border-right: 1.5px solid var(--border);
    background-color: var(--bgColor);
}

.right-side{
    /* border-left: 1px solid var(--border);
    border-right: 1px solid var(--border); */
    z-index: 100;
}

.right-side-div{
    top: 8px;

}

/* .post-list-body{
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
} */

@media only screen and (max-width: 770px) {
    .left-side{
        width: 100%;
        /* border-right: 1px solid var(--border); */
        /* border: none; */
    }

    .right-side{
        display:none !important;
    }
}

@media only screen and (max-width: 500px) {
    .main-block{
        padding: 0px;
    }
    .left-side{
        border: none;
    }
}


/* post */


.addPostDiv{
    background-color: #ebeff3;
    border-bottom: 1px solid var(--border);
}

.addPostDiv input{
    border-radius: 50rem;
    border: none;
    outline: none;
}

.addPostDiv textarea{
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    height: 40px;

}

.addPostDiv textarea::placeholder{
    color: var(--border)
}


.addPostDiv input[type="submit"]{
    background-color: var(--primary);
    /* border: 2px solid #ffef41; */
    color: white;
    height: fit-content;
}

.addPostDiv input[type="submit"]:active {
    background-color: var(--primary-active);
    cursor: not-allowed;
}

.addPostDiv input[type="submit"]:disabled {
    background-color: #aec7d4;
    cursor: not-allowed;
}

.addPostDiv .bg-inputs{
    width: 28px;
    height: 28px;
    cursor: pointer;
    border: 1px solid var(--border);
}


.addPostExtraDiv{
    border-top: 1px solid var(--border);
}

.input-bg-light{
    background-color: var(--white);
}
.input-bg-dark{
    background-color: #2b2b2b;
}

.input-bg-light-gradient{
    background: rgb(212,210,255);
    background: linear-gradient(to right, #70e1f5, #ffd194);
}

.bg-selected{
    color: inherit;
    box-shadow: 0px 0px 0px 3px var(--bgColor), 0px 0px 0px 5px var(--border);
}


/* ------------- */

.posttype-div{
    /* background-color: #E4EBE5b9; */
    /* backdrop-filter: blur(24px); */
    background-color: var(--bgColor);
    border-bottom: 1px solid var(--border);
    z-index: 1;
}

/* post-type div */
.posttype-div h5{
    font-size: 16px;
    cursor: pointer;
    color:var(--border);
}


.selected-postType{
    color: var(--darkPrimary) !important;
    border-radius: 50rem;
    border: 1px solid var(--border);
}
/* .selected-postType::after{
    content: '_';
    display: block;
    text-align: center;
    font-size: 36px;
    line-height: 0;
    color: #F07D75;
} */

/* replied to div */
.replied-to-div{
    /* background-color: var(--grayColor); */
    border: 1px solid transparent;
    cursor: pointer;
    border: 1px solid var(--border);
}

.delete-btn{
    font-size: 14px;
    /* background-color: var(--grayColor); */
    cursor: pointer;
    border: 1px solid var(--border);
}

.delete-btn:hover{
    /* border: 1px solid var(--border); */
     background-color: var(--grayColor);
}

.replied-to-div:hover{  
    /* border: 1px solid var(--border); */
     background-color: var(--grayColor);
}


.followsback-div{
    border: 1px solid var(--border);
    padding: 4px 12px;
    border-radius: 50rem;
    color: var(--primary);
    font-size: 12px;
}







/* postitem */
@keyframes slide-in-left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes appear {
    0% {
      opacity: 0.2;
    }
    50%{
        opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }


@keyframes like{
    0%{
        width: 30%;
    }
    50%{
        width: 20%;
    }
    100%{
        width: 100%;
    }
}


.post-div-link{
    text-decoration: none;
}

.post-div{
    background-color: var(--bgColor);
    border-bottom: 1px solid var(--border);
    /* border-top: 1.5px solid var(--border); */
    /* border: 1.5px solid var(--border); */
    cursor: pointer;
    /* animation-name: slide-in-left;
    animation-direction: reverse;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-play-state: paused; */
}

@media (hover: hover) {
    .post-div:hover{
        background-color: var(--bgHoverColor);
        /* background: rgba(0,0,0,.5); */
    }
}

@media (hover: none) {
    .post-div:focus{
        background-color: var(--bgHoverColor);
        /* background: rgba(0,0,0,.5); */
    }
}

.post-page{
    cursor: auto;
}
.post-page:hover{
    background-color: initial;
}

.post-body{
    animation-name: appear;
    animation-duration: 1s;
    /* border-bottom: 1px solid #cbcbcb; */
}


.profile-thumbnail{
    height: 80px;
    width: 80px;
    border: 1px solid var(--border);
}

.post-profile-thumbnail{
    height: 45px;
    width: 45px;
    min-width: 45px;
    border: 1px solid var(--border);
    background-color: var(--bgColor);
}

.post-profile-title a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.post-profile-title a:hover{
    text-decoration: underline;
    text-decoration-color: var(--primary);
    color:var(--primary);

}

/* .likeBtnBody{
    width: max-content;
    background-color: #eeeeee;
} */

.post-btn{
    width: 45px;
    height: 45px;
    fill: var(--border);
    /* background-color: var(--grayColor); */
    transition: 0.4s;
    cursor: pointer;
    border: 1px solid var(--border);
}

@media (hover: hover) {
    .post-btn:hover{
        background-color: var(--grayColor);
    }
    .post-btn:hover .bi{
        fill: var(--primary);
        scale: 1.2;
        transition: 0.4s;
    }
}


/* like btn */
.liked-btn{
    color: var(--primary);
    animation-name: like;
    animation-duration: 0.3s;
}


/* follow btn */
.follow-btn-div{
    height: fit-content;
}

.follow-btn{
    /* background-color: #ffd3d0; */
    width: 120px;
    color: var(--darkPrimary);
    border: 1px solid var(--border);
}

.follow-btn:hover{
    background-color: var(--darkPrimary);
    color: white;
    transition: 0.4s;
}

/* back-btn */
.back-btn{
    cursor: pointer;
    color: gray;
}
.back-btn:hover{
    color: black;
}

.auth-btn, .the-btn{
    border-radius: 50rem;
    border: none;
    text-decoration: none;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    color: var(--white);
    background-color: var(--darkPrimary);
}

.auth-btn:hover, .the-btn:hover{
    /* background-color: #bf5b5b; */
    color: var(--white);
    transition: 0.4s;
    /* border: 1px solid var(--primary); */
}

.navbar-login-btn{
    color: white;
    background-color: #2b2b2b;
    border-radius: 50rem;
    border: 1px solid var(--border);
    padding: 6px 12px ;
    text-decoration: none;
}

.navbar-login-btn:hover{
    background-color: #2b2b2b;
    border: 1px solid var(--primary);
    color: var(--border);
}

.profile-wrapper{
    background-color: var(--bgColor);
    border: 1.5px solid var(--border);
    border-bottom: 1px solid var(--border);
    border-top: none;
}

.profile-wrapper.first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: 1.5px solid var(--border);
}

.profile-wrapper.last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: 1.5px solid var(--border);
}

/* login, signup screens */
.auth-div{
    width: 400px;
    margin: 40px auto;
    margin-bottom: 0px;
    padding: 20px;
    background-color: var(--white);
    border: 1px solid var(--border);
    border-radius: 4px;
}

.auth-div p>a{
    color: var(--primary);
}

.loading-spinner{
    color: var(--primary) !important;
}

@media only screen and (max-width: 440px) {
    .auth-div{
        width: 96%;
        margin-top: 12px;
    }
}


/* extras */
.form-control:focus{
    box-shadow: none !important;
    border: 1px solid var(--primary);
    /* outline: 1.5px solid var(--primary); */
}